In [9]:
import pandas as pd
import yfinance as yf
import math

df = yf.download(
    'petr4.sa',
    start='2019-01-01',
    end='2021-06-12',
    progress=False,
)
df[["Open", "High", "Close"]]

                 Open       High      Close
Date
2019-01-02  22.549999  24.200001  24.059999
2019-01-03  23.959999  24.820000  24.650000
2019-01-04  24.850000  24.940001  24.719999
2019-01-07  24.850000  25.920000  25.110001
2019-01-08  25.400000  25.420000  24.959999
...               ...        ...        ...
2021-06-07  28.500000  28.549999  28.290001
2021-06-08  28.170000  28.799999  28.660000
2021-06-09  28.719999  29.080000  28.660000
2021-06-10  28.830000  29.030001  28.680000
2021-06-11  28.799999  28.850000  28.570000

[605 rows x 3 columns]

In [5]:
from __future__ import print_function, division
import pandas as pd