In [1]:
import pandas as pd
import yfinance as yf

# load excel file
acoes = pd.read_excel('posicao.xlsx', sheet_name="Ações")
acoes.dropna(inplace=True)
etf = pd.read_excel('posicao.xlsx', sheet_name="ETF")
etf.dropna(inplace=True)
fundos = pd.read_excel('posicao.xlsx', sheet_name="Fundo de Investimento")
fundos.dropna(inplace=True)
tesouro = pd.read_excel('posicao.xlsx', sheet_name="Tesouro Direto")
tesouro.dropna(inplace=True)

/home/weslei/python/financeDataScience/.venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
# ações/fundos
acoes_and_fundos = acoes.append(fundos)
acoes_and_fundos .sort_values("Código de Negociação", inplace=True)
prices = yf.download(tickers=(acoes_and_fundos ["Código de Negociação"]+'.SA').to_list(), threads=False)
prices = prices['Adj Close'].tail(2)    
prices.columns  = prices.columns.str.rstrip('.SA')
prices = prices.transpose()
prices.columns = ["LastDay_value", "Day_value"]
prices["Quantidade"] = (acoes_and_fundos ["Quantidade"]).to_list()
prices["Quantidade"] = prices["Quantidade"].astype(int)
prices["Total"] = (prices["Quantidade"] * prices["Day_value"]).round(2)
prices["Return"] = ((prices["Day_value"] - prices["LastDay_value"]) * prices["Quantidade"]).round(2)
prices["Pct"] = (((prices["Day_value"] / prices["LastDay_value"])-1) *100).round(2) 
print("\n[", 20*"*", "AÇÕES/FUNDOS IMOBILIÁRIOS", 20*"*", "]\nRETORNO DO DIA ==> ", prices["Return"].sum().round(2))
prices

[*********************100%***********************]  13 of 13 completed

[ ******************** AÇÕES/FUNDOS IMOBILIÁRIOS ******************** ]
RETORNO DO DIA ==>  315.75

        LastDay_value  Day_value  Quantidade    Total  Return   Pct
B3SA3       13.780000  14.460000         100  1446.00   68.00  4.93
BRCR11      69.949997  70.570000          50  3528.50   31.00  0.89
CSAN3       22.430000  23.360001         100  2336.00   93.00  4.15
EZTC3       21.230000  21.590000          50  1079.50   18.00  1.70
FLRY3       19.139999  19.580000          50   979.00   22.00  2.30
HGFF11      75.940002  76.070000          31  2358.17    4.03  0.17
KISU11            NaN   8.030000         300  2409.00     NaN   NaN
MGLU3        6.750000   7.220000         100   722.00   47.00  6.96
PETR4       33.869999  33.880001          50  1694.00    0.50  0.03
RECT11      70.250000  70.000000          51  3570.00  -12.75 -0.36
RRRP3       36.759998  37.320000          50  1866.00   28.00  1.52
VALE3       84.300003  84.489998          13  1098.37    2.47  0.23
XPPR11      63.520000  63.810001          50  3190.50   14.50  0.46

In [3]:
# ações
prices = yf.download(tickers=(acoes["Código de Negociação"]+'.SA').to_list(), threads=False)
prices = prices['Adj Close'].tail(2)    
prices.columns  = prices.columns.str.rstrip('.SA')
prices = prices.transpose()
prices.columns = ["LastDay_value", "Day_value"]
prices["Quantidade"] = (acoes["Quantidade"]).to_list()
prices["Quantidade"] = prices["Quantidade"].astype(int)
prices["Total"] = (prices["Quantidade"] * prices["Day_value"]).round(2)
prices["Return"] = ((prices["Day_value"] - prices["LastDay_value"]) * prices["Quantidade"]).round(2)
prices["Pct"] = (((prices["Day_value"] / prices["LastDay_value"])-1) *100).round(2) 
print("\n[", 20*"*", "AÇÕES", 20*"*", "]\nRETORNO DO DIA ==> ", prices["Return"].sum().round(2))
prices

[*********************100%***********************]  8 of 8 completed

[ ******************** AÇÕES ******************** ]
RETORNO DO DIA ==>  278.97

       LastDay_value  Day_value  Quantidade    Total  Return   Pct
B3SA3      13.780000  14.460000         100  1446.00   68.00  4.93
CSAN3      22.430000  23.360001         100  2336.00   93.00  4.15
EZTC3      21.230000  21.590000          50  1079.50   18.00  1.70
FLRY3      19.139999  19.580000          50   979.00   22.00  2.30
MGLU3       6.750000   7.220000         100   722.00   47.00  6.96
PETR4      33.869999  33.880001          50  1694.00    0.50  0.03
RRRP3      36.759998  37.320000          50  1866.00   28.00  1.52
VALE3      84.300003  84.489998          13  1098.37    2.47  0.23

In [4]:

prices = yf.download(tickers=(fundos["Código de Negociação"]+'.SA').to_list(), threads=False)
prices = prices['Adj Close'].tail(2)    
prices.columns  = prices.columns.str.rstrip('.SA')
prices = prices.transpose()
prices.columns = ["LastDay_value", "Day_value"]
prices["Quantidade"] = (fundos["Quantidade"]).to_list()
prices["Quantidade"] = prices["Quantidade"].astype(int)
prices["Total"] = (prices["Quantidade"] * prices["Day_value"]).round(2)
prices["Return"] = ((prices["Day_value"] - prices["LastDay_value"]) * prices["Quantidade"]).round(2)
prices["Pct"] = (((prices["Day_value"] / prices["LastDay_value"])-1) *100).round(2) 
print("\n[", 20*"*", "FUNDOS IMOBILIÁRIOS", 20*"*", "]\nRETORNO DO DIA ==> ", prices["Return"].sum().round(2))
prices

[*********************100%***********************]  5 of 5 completed

[ ******************** FUNDOS IMOBILIÁRIOS ******************** ]
RETORNO DO DIA ==>  36.78

        LastDay_value  Day_value  Quantidade    Total  Return   Pct
BRCR11      69.949997  70.570000          50  3528.50   31.00  0.89
HGFF11      75.940002  76.070000          31  2358.17    4.03  0.17
KISU11            NaN   8.030000         300  2409.00     NaN   NaN
RECT11      70.250000  70.000000          51  3570.00  -12.75 -0.36
XPPR11      63.520000  63.810001          50  3190.50   14.50  0.46